html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 100% Georgia, serif;
  background: #1D1D1D url(../images/pattern.png) repeat;
  color: #FFF;}

p
{ padding: 0 0 15px 0;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% Georgia, serif;
  color: #FFF;
  text-shadow: 1px 1px #bbb;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
  padding: 5px 0 0 0;}

h2
{ font: normal 165% Georgia, serif;}

h3
{ font: normal 100% Georgia, serif;
}

h3 a, h3 a:hover
{ color: #96B7B7;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 150% Georgia, serif;
  color: #057EBF;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Georgia, serif;
  color: #888;
  padding-bottom: 15px;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: none;
  color: #057EBF;
}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ width: 1065px;
  height: 55px;
  padding: 50px 0 0 0;
  background: transparent;}

#welcome
{ width: 285px;
  float: left;
  height: 30px;
  padding: 5px 0 20px 80px;
  margin: 0 auto;
  background: transparent;} 
  
#welcome H1
{ font: normal 200% times, Helvetica, sans-serif;
  color: #FFF;}
  
span
{ color: #057EBF;}

 
#menubar
{ width: 700px;
  height: 35px;
  text-align: center; 
  margin: 0 auto;
  padding-bottom: 20px;
  float: right;
  background: transparent;
  background: #1D1D1D;
  -webkit-box-shadow: inset 5px 5px 30px 5px #535353;
  -moz-box-shadow: inset 5px 5px 30px 5px #535353;
  box-shadow: inset 5px 5px 30px 5px #535353;
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 0px 15px 0px;
  -webkit-border: 15px 15px 0px 0px; } 

ul#menu
{ 
  margin: 0;
  float: right;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ font: normal 120% Georgia, serif;
  float: left;
  letter-spacing: -1px;
  height: 30px;
  padding: 15px 25px 10px 25px;
  text-align: center;
  color: #FFF;
  text-decoration: none;} 

ul#menu li a:hover
{ color: #FFF;
  text-decoration: underline;}
  
ul#menu li.current a
{ color: #057EBF;
  text-decoration: underline;}

#site_content
{ width: 1065px;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 0 0 0;
  background: #1D1D1D;
  -webkit-box-shadow: inset 5px 5px 30px 5px #535353;
  -moz-box-shadow: inset 5px 5px 30px 5px #535353;
  box-shadow: inset 5px 5px 30px 5px #535353;
  border-radius: 15px 0px 15px 15px;
  -moz-border-radius: 0px 15px 15px 15px;
  -webkit-border: 15px 0px 15px 15px;} 
  
#text_content
{ float: left;
  width: 500px;
  padding: 0; 
  margin: 0 20px 0 20px;}

/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 500px;
  height: 450px;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  padding: 0;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 500px;
  text-align: right;
  height: 44px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  background: transparent url(../images/transparent.png) repeat;  
  padding: 10px 45px 10px 25px;   
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;}  
  
#footer
{ font: normal 120% Georgia, serif;
  width: 1070px;
  letter-spacing: -1px;
  padding: 0 0 26px 0;
  text-align: center; 
  background: transparent;
  color: #FFF;}

#footer a, #footer a:hover
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}

.footer_container_box
{ font: normal 80% Arial, Helvetica, sans-serif;
  width: 325px;
  padding: 5px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  float: left;
  background: transparent;
  color: #FFF;}

.footer_container_boxl
{ font: normal 80% Arial, Helvetica, sans-serif;
  width: 325px;
  padding: 5px;
  text-align: center;
  margin: 10px 0 10px 10px;
  float: left;
  background: transparent;
  color: #FFF;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #5082BD; 
  color: #FFF;} 